SensorAssetADE/SensorAssetADEexp.xsd

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:sensorasset="http://www.citygml.org/ade/sensorasset" targetNamespace="http://www.citygml.org/ade/sensorasset"
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:core="http://www.opengis.net/citygml/2.0" elementFormDefault="qualified" attributeFormDefault="qualified">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd" />

  <element name="Sensor" type="sensorasset:SensorType" substitutionGroup="gml:_Feature" />
  <complexType name="SensorType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="timeseries" type="sensorasset:TimeseriesPropertyType" maxOccurs="unbounded" minOccurs="0" />
		  <element name="location" type="sensorasset:LocationPropertyType" maxOccurs="unbounded" minOccurs="0" />
		  <element name="accessControl" type="sensorasset:AccessControlPropertyType" maxOccurs="unbounded" minOccurs="0" />
		  <element name="process" type="sensorasset:ProcessPropertyType" maxOccurs="unbounded" minOccurs="0" />
          <element name="sensor" type="string" minOccurs="0"/>
        </sequence>
	  </extension>
    </complexContent>
  </complexType>
  <complexType name="SensorPropertyType">
    <sequence>
      <element ref="sensorasset:Sensor" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>     
  
  <element name="Timeseries" substitutionGroup="gml:_Feature" type="sensorasset:TimeseriesType"/>
  <complexType name="TimeseriesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="uom" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeseriesPropertyType">
    <sequence>
      <element ref="sensorasset:Timeseries" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 

  <element name="TimeValuePair" substitutionGroup="gml:_Feature" type="sensorasset:TimeValuePairType"/>
  <complexType name="TimeValuePairType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="time" type="dateTime" minOccurs="0"/>
		  <element name="value" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeValuePairPropertyType">
    <sequence>
      <element ref="sensorasset:TimeValuePair" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 
  
  <element name="Location" substitutionGroup="gml:_Feature" type="sensorasset:LocationType"/>
  <complexType name="LocationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="longitude" type="double" minOccurs="0"/>
          <element name="latitude" type="double" minOccurs="0"/>
          <element name="height" type="gml:LengthType" minOccurs="0"/>
          <element name="time" type="dateTime" minOccurs="0"/>
		  <element name="thing" type="string" minOccurs="0"/>
		  <element minOccurs="0" name="realization" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationPropertyType">
    <sequence>
      <element ref="sensorasset:Location" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 

  <element name="AccessControl" substitutionGroup="gml:_Feature" type="sensorasset:AccessControlType"/>
  <complexType name="AccessControlType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="role" type="string" minOccurs="0"/>
		  <element name="email" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AccessControlPropertyType">
    <sequence>
      <element ref="sensorasset:AccessControl" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>  
  
  <element name="Process" substitutionGroup="gml:_Feature" type="sensorasset:ProcessType"/>
  <complexType name="ProcessType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string" minOccurs="0"/>
          <element name="description" type="string" minOccurs="0"/>
          <element name="startTime" type="dateTime" minOccurs="0"/>
		  <element name="api" type="string" minOccurs="0"/>
		  <element name="status" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProcessPropertyType">
    <sequence minOccurs="0">
      <element ref="sensorasset:Process"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>   
   
</schema>








<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:sensorasset="http://www.citygml.org/ade/sensorasset" targetNamespace="http://www.citygml.org/ade/sensorasset"
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:core="http://www.opengis.net/citygml/2.0">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd" />

  <element name="Sensor" type="sensorasset:SensorType" substitutionGroup="core:_CityObject" />
  <complexType name="SensorType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
		  <element name="location" type="sensorasset:LocationPropertyType" maxOccurs="unbounded" minOccurs="0" />		  
          <element name="sensor" type="string" minOccurs="0"/>
        </sequence>
	  </extension>
    </complexContent>
  </complexType>
  <complexType name="SensorPropertyType">
    <sequence>
      <element ref="sensorasset:Sensor" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>     
  
  <element name="Timeseries" substitutionGroup="gml:_Feature" type="sensorasset:TimeseriesType"/>
  <complexType name="TimeseriesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="uom" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeseriesPropertyType">
    <sequence>
      <element ref="sensorasset:Timeseries" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 

  <element name="TimeValuePair" substitutionGroup="gml:_Feature" type="sensorasset:TimeValuePairType"/>
  <complexType name="TimeValuePairType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="time" type="dateTime" minOccurs="0"/>
		  <element name="value" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TimeValuePairPropertyType">
    <sequence>
      <element ref="sensorasset:TimeValuePair" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 
  
  <element name="Location" substitutionGroup="gml:_Feature" type="sensorasset:LocationType"/>
  <complexType name="LocationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="longitude" type="double" minOccurs="0"/>
          <element name="latitude" type="double" minOccurs="0"/>
          <element name="height" type="gml:LengthType" minOccurs="0"/>
          <element name="time" type="dateTime" minOccurs="0"/>
		  <element name="thing" type="string" minOccurs="0"/>
		  <element minOccurs="0" name="realization" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocationPropertyType">
    <sequence>
      <element ref="sensorasset:Location" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType> 

  <element name="AccessControl" substitutionGroup="gml:_Feature" type="sensorasset:AccessControlType"/>
  <complexType name="AccessControlType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
		  <element name="role" type="string" minOccurs="0"/>
		  <element name="email" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AccessControlPropertyType">
    <sequence>
      <element ref="sensorasset:AccessControl" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>  
  
  <element name="Process" substitutionGroup="gml:_Feature" type="sensorasset:ProcessType"/>
  <complexType name="ProcessType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string" minOccurs="0"/>
          <element name="description" type="string" minOccurs="0"/>
          <element name="startTime" type="dateTime" minOccurs="0"/>
		  <element name="api" type="string" minOccurs="0"/>
		  <element name="status" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProcessPropertyType">
    <sequence minOccurs="0">
      <element ref="sensorasset:Process"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>   
   
</schema>



























<import namespace="http://www.opengis.net/swe/2.0" schemaLocation="http://schemas.opengis.net/sweCommon/2.0/swe.xsd"/>
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />
<import namespace="http://www.opengis.net/timeseriesml/1.2" schemaLocation="http://schemas.opengis.net/tsml/1.2/timeseriesML.xsd" />
<import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd" />
<import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd" />
<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

<element name="Sensor" type="sensorasset:SensorType" substitutionGroup="core:_CityObject" />
  <complexType name="SensorType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element name="sensor" type="string" minOccurs="0"/>
          <element name="process" type="sensorasset:Process" maxOccurs="unbounded" minOccurs="0"/>
          <element name="location" type="sensorasset:Location" maxOccurs="unbounded" minOccurs="0"/>
          <element name="accessControl" type="sensorasset:AccessControl" maxOccurs="unbounded" minOccurs="0"/>
          <element name="timeseries" type="tsml:TimeseriesTVPType" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
	  </extension>
    </complexContent>
  </complexType>
  <complexType name="Process">
      <sequence>
          <element name="name" type="string" minOccurs="0"/>
          <element name="description" type="string" minOccurs="0"/>
          <element name="startTime" type="dateTime" minOccurs="0"/>
          <element name="api" type="string" minOccurs="0"/>
          <element name="status" type="string" minOccurs="0"/>
      </sequence>
  </complexType>
  <complexType name="Location">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="longitude" type="double" minOccurs="0"/>
          <element name="latitude" type="double" minOccurs="0"/>
          <element name="height" type="gml:LengthType" minOccurs="0"/>
          <element name="time" type="dateTime" minOccurs="0"/>
		  <element name="thing" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
    <complexType name="AccessControl">
      <sequence>
          <element name="email" type="string" minOccurs="0"/>
          <element name="role" type="string" minOccurs="0"/>
          <element name="permissions" type="string" minOccurs="0"/>
      </sequence>
  </complexType>

<annotation>
<documentation>The Time Value Pair (TVP) Encoding schema contains types suitable for encoding TimeSeries (both Measurement and Categorical) in a sequence of time, value pairs. Note that this time, value pair encoding of timeseries encoding takes the name 'Timeseries'. The domain range encoding equivalent takes the name TimeseriesDomainRange. </documentation>
</annotation>
<element name="CategoricalTVP" type="tsml:CategoricalTVPType" substitutionGroup="tsml:TimeValuePair">
<annotation>
<documentation>CategoricalTVP is the encoding for time,value pairs where the value is a category.</documentation>
</annotation>
</element>
<complexType name="CategoricalTVPType">
<complexContent>
<extension base="tsml:TimeValuePairType">
<sequence>
<element name="value" type="swe:CategoryPropertyType" nillable="true">
<annotation>
<documentation>The categorical value of the data point (e.g. 'High')</documentation>
</annotation>
</element>
</sequence>
</extension>
</complexContent>
</complexType>
<complexType name="CategoricalTVPPropertyType">
<sequence minOccurs="0">
<element ref="tsml:CategoricalTVP"/>
</sequence>
<attributeGroup ref="gml32:AssociationAttributeGroup"/>
<attributeGroup ref="gml32:OwnershipAttributeGroup"/>
</complexType>
<element name="MeasurementTVP" type="tsml:MeasurementTVPType" substitutionGroup="tsml:TimeValuePair">
<annotation>
<documentation>MeasurementTVP is the encoding for time,value pairs where the value is a measure.</documentation>
</annotation>
</element>
<complexType name="MeasurementTVPType">
<complexContent>
<extension base="tsml:TimeValuePairType">
<sequence>
<element name="value" type="tsml:MeasureType" nillable="true">
<annotation>
<documentation>The measurement value for this data point (e.g. 5.3m)</documentation>
</annotation>
</element>
</sequence>
</extension>
</complexContent>
</complexType>
<complexType name="MeasurementTVPPropertyType">
<sequence minOccurs="0">
<element ref="tsml:MeasurementTVP"/>
</sequence>
<attributeGroup ref="gml32:AssociationAttributeGroup"/>
<attributeGroup ref="gml32:OwnershipAttributeGroup"/>
</complexType>

<complexType name="TimeseriesTVPType">
<complexContent>
<extension base="gml32:AbstractGMLType">
<sequence>
<element name="metadata" type="tsml:TimeseriesMetadataPropertyType" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>Metadata about the timeseries</documentation>
</annotation>
</element>
<element name="defaultPointMetadata" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>Default metadata for each point in the timeseries (can be over-ridden on a per-point basis).</documentation>
</annotation>
<complexType>
<complexContent>
<extension base="gml32:AbstractMemberType">
<sequence>
<element ref="tsml:PointMetadata"/>
</sequence>
</extension>
</complexContent>
</complexType>
</element>
<element name="point" type="tsml:TimeValuePairPropertyType" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>Data points (time, value pairs) for the timeseries.</documentation>
</annotation>
</element>
</sequence>
</extension>
</complexContent>
</complexType>
<complexType name="TimeseriesTVPPropertyType">
<sequence minOccurs="0">
<element ref="tsml:TimeseriesTVP"/>
</sequence>
<attributeGroup ref="gml32:AssociationAttributeGroup"/>
<attributeGroup ref="gml32:OwnershipAttributeGroup"/>
</complexType>
<element name="TimeValuePair" type="tsml:TimeValuePairType" substitutionGroup="gml32:AbstractObject" abstract="true">
<annotation>
<documentation>A base class for different time, value pair implementations.</documentation>
</annotation>
</element>
<complexType name="TimeValuePairType" abstract="true">
<sequence>
<element name="metadata" type="tsml:PointMetadataPropertyType" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>Point metadata for this point (over-rides any default point metadata for the timeseries).</documentation>
</annotation>
</element>
<element name="time" type="gml:TimePositionType" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>Time component of the time value pair. (A point on the timeseries).</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="TimeValuePairPropertyType">
<sequence>
<element ref="tsml:TimeValuePair"/>
</sequence>
<attributeGroup ref="gml32:OwnershipAttributeGroup"/>
</complexType>
<complexType name="MeasureType">
<annotation>
<documentation>gml:MeasureType supports recording an amount encoded as a value of XML Schema double, together with a units of measure indicated by an attribute uom, short for "units Of measure". The value of the uom attribute identifies a reference system for the amount, usually a ratio or interval scale. OGC TimeSeriesML alters this definition to make uom optional as this value is defaulted for a series.</documentation>
</annotation>
<simpleContent>
<extension base="double">
<attribute name="uom" type="gml32:UomSymbol"/>
</extension>
</simpleContent>
</complexType>
</schema>
